body {
  font-family: 'Montserrat', sans-serif;
  position: relative;
  /* border: 1px solid ; */
}

input {
  margin-bottom: 25px;
  padding: 7px;
  outline: none;
  border: 1px solid rgba(8, 62, 91, 0.15);
  width: 100%;
  border-radius: 5px;
  font-weight: 400;
}

form {
  padding: 25px;
  margin-bottom: 10px;
}

label {
  margin-bottom: 10px;
  color: #083E5B;
  font-weight: 600;
  line-height: 140%;
}

.topSection {
  color: #083E5B;
  padding-bottom: 50px;
}

.logoImage {
  display: none;
  width: 20%;
}

.topSection>h1 {
  font-weight: 700;
}

.topSection>p {
  font-weight: 600;
  color: rgba(8, 62, 91, 0.5);
  line-height: 140%;
}

.icon {
  font-size: 2.9rem;
}

.topRightVector {
  position: absolute;
  right: 0;
}

.bottomLeftImage {
  position: absolute;
  left: 0;
  bottom: 0;
}

.signUpBtn {
  background-color: #FCC455;
}

.orBorder {
  border-top: 2px solid #E8E8E8;
  height: 14px;
  width: 45%;
}

.br {
  border: 2px solid red;
}

.googleBtn {
  background-color: #F5F6F9;
}

@media only screen and (min-width: 768px) {

  .icon {
    display: none;
  }

  .logoImage {
    display: block;
    margin-top: 20px;
    padding-bottom: 50px;
  }
}