@import "config";

@mixin displaynone {
  display: none;
}

body {
  min-height: 100vh;
  font-family: $fontFace;
}

.logoImage {
  display: none;
  width: 20%;
}
.topSection {
  min-height: 100vh;
  h1 {
    font-weight: 700;
    color: $fontColor;
  }
  p {
    font-weight: 600;
    color: $fontColor;
    line-height: 140%;
  }
}

.icon {
  font-size: 2.9rem;
}

.topRightVector {
  position: absolute;
  right: 0;
}

.bottomLeftImage {
  position: absolute;
  left: 0;
  bottom: 0;
}

.signUpBtn {
  background-color: $yellowBackground;
  width: 30%;
}

.orBorder {
  border-top: 2px solid #e8e8e8;
  height: 14px;
  width: 45%;
}

.emailVerificationContainer {
  height: 100vh;
  text-align: center;
  .emailIcon {
    width: 40%;
  }
  .innerEmailVerification {
    padding: 28px;
  }
}

.emailVerificationContainer > * {
  margin-bottom: 100px;
}

.innerEmailVerification > * {
  margin-bottom: 25px;
}

.ApLogo {
  width: 80%;
}

.googleBtn {
  background-color: #f5f6f9;
}

.dashboard {
  background: rgba(8, 62, 91, 0.2);
}

.verifiedContainer {
  min-height: 100vh;
  padding-top: 5%;
  font-weight: 600;
}

.verifiedContainer > p {
  margin-bottom: 20%;
  width: 70%;
}

@media only screen and (max-width: 767px) {
  .dashboard {
    @include displaynone();
  }

  .homepage {
    position: relative;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .dashboard {
    @include displaynone();
  }

  .icon {
    @include displaynone();
  }

  .logoImage {
    display: block;
    margin-top: 20px;
    padding-bottom: 50px;
  }

  .emailIcon {
    width: 30%;
  }

  .ApLogo {
    width: 40%;
  }
}

@media only screen and (min-width: 992px) {
  .dashboard {
    position: relative;
    padding: 60px;
    &-Image {
      position: absolute;
      right: 0px;
      bottom: 0;
      width: 70%;
    }
  }

  .emailIcon {
    width: 10%;
  }

  .ApLogo {
    width: 25%;
  }

  .topSection {
    position: relative;
    .logoImage {
      display: block;
      margin-top: 20px;
      padding-bottom: 50px;
    }
    .topRightVector {
      top: 0;
      right: -2%;
    }
    .icon {
      @include displaynone();
    }
  }

  .email {
    width: 75%;
  }

  .dashboard-Content {
    color: $fontColor;
    font-weight: 600;
  }
}
