@import "config";

@mixin displaynone {
  display: none;
}

body {
  min-height: 100vh;
  font-family: $fontFace;
}

.logoImage {
  display: none;
  width: 20%;
}
.topSection {
  min-height: 100vh;
  h1 {
    font-weight: 700;
    color: $fontColor;
  }
  p {
    font-weight: 600;
    color: $fontColor;
    line-height: 140%;
  }
}

.icon {
  font-size: 2.9rem;
}

.topRightVector {
  position: absolute;
  right: 0;
}

.bottomLeftImage {
  position: absolute;
  left: 0;
  bottom: 0;
}

.signUpBtn {
  background-color: $yellowBackground;
  width: 30%;
}

.orBorder {
  border-top: 2px solid #e8e8e8;
  height: 14px;
  width: 45%;
}

.emailVerificationContainer {
  height: 100vh;
  text-align: center;
  h3 {
    color: $fontColor;
    font-weight: bold;
    font-size: 1.9rem;
  }
  p {
    color: $lighterBlue;
    font-weight: 600;
  }
  a {
    color: $fontColor;
    font-weight: 600;
    padding: 8px;
    border-radius: 7px;
    width: 25%;
  }
  .innerEmailVerification {
    padding: 28px;
  }
}

.emailVerificationContainer > * {
  margin-bottom: 100px;
}

.innerEmailVerification > * {
  margin-bottom: 25px;
}

.ApLogo {
  width: 80%;
}

.googleBtn {
  background-color: #f5f6f9;
}

.dashboard {
  background: rgba(8, 62, 91, 0.2);
}

.verifiedContainer {
  min-height: 100vh;
  .innerVerifiedContainer {
    padding: 40px;
    width: 50%;
    a {
      font-weight: 600;
      color: $fontColor;
    }
    p {
      font-size: 1.1rem;
      font-weight: 500;
      color: $lighterBlue;
    }
    * {
      margin-bottom: 20px;
    }
    h3 {
      font-size: 2rem;
      font-weight: bold;
      color: $fontColor;
    }
  }
}

@media only screen and (max-width: 767px) {
  .verifiedContainer {
    min-height: 100vh;
    .innerVerifiedContainer {
      padding: 30px;
      width: 100%;
      a {
        font-weight: 600;
        color: $fontColor;
        width: 50%;
      }
      p {
        font-size: 1.1rem;
        font-weight: 500;
        color: $lighterBlue;
      }
      * {
        margin-bottom: 20px;
      }
      h3 {
        font-size: 1.2rem;
        font-weight: bold;
        color: $fontColor;
      }
    }
  }

  .emailVerificationContainer {
    a {
      color: $fontColor;
      font-weight: 600;
      padding: 8px;
      border-radius: 7px;
      width: 80%;
    }
  }
  .dashboard {
    @include displaynone();
  }

  .homepage {
    position: relative;
  }
  .emailIcon {
    width: 30%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .verifiedContainer {
    min-height: 100vh;
    .innerVerifiedContainer {
      padding: 30px;
      width: 100%;
      a {
        font-weight: 600;
        color: $fontColor;
        width: 50%;
      }
      p {
        font-size: 1.1rem;
        font-weight: 500;
        color: $lighterBlue;
      }
      * {
        margin-bottom: 20px;
      }
      h3 {
        font-size: 1.2rem;
        font-weight: bold;
        color: $fontColor;
      }
    }
  }
  .dashboard {
    @include displaynone();
  }

  .icon {
    @include displaynone();
  }

  .logoImage {
    display: block;
    margin-top: 20px;
    padding-bottom: 50px;
  }

  .emailIcon {
    width: 30%;
  }

  .ApLogo {
    width: 40%;
  }
}

@media only screen and (min-width: 992px) {
  .dashboard {
    position: relative;
    padding: 60px;
    &-Image {
      position: absolute;
      right: 0px;
      bottom: 0;
      width: 70%;
    }
  }

  .emailIcon {
    width: 10%;
  }

  .ApLogo {
    width: 25%;
  }

  .topSection {
    position: relative;
    .logoImage {
      display: block;
      margin-top: 20px;
      padding-bottom: 50px;
    }
    .topRightVector {
      top: 0;
      right: -2%;
    }
    .icon {
      @include displaynone();
    }
  }

  .email {
    width: 75%;
  }

  .dashboard-Content {
    color: $fontColor;
    font-weight: 600;
  }
}
