body {
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
}

.fontColor {
  color: #083E5B;
}

input {
  margin-bottom: 25px;
  padding: 10px;
  outline: none;
  border: 1px solid rgba(8, 62, 91, 0.15);
  width: 100%;
  border-radius: 7px;
  font-weight: 400;
  font-style: normal;
}

form {
  padding: 25px;
  margin-bottom: 10px;
}

label {
  margin-bottom: 10px;
  color: #083E5B;
  font-weight: 600;
  line-height: 140%;
}


.logoImage {
  display: none;
  width: 20%;
}

.topSection {
  min-height: 100vh;
}

.topSection>h1 {
  font-weight: 700;
}

.topSection>p {
  font-weight: 600;
  color: rgba(8, 62, 91, 0.5);
  line-height: 140%;
}

.icon {
  font-size: 2.9rem;
}

.topRightVector {
  position: absolute;
  right: 0;
}

.bottomLeftImage {
  position: absolute;
  left: 0;
  bottom: 0;
}

.signUpBtn {
  background-color: #FCC455;
  width: 30%;
}

.orBorder {
  border-top: 2px solid #E8E8E8;
  height: 14px;
  width: 45%;
}

.br {
  border: 2px solid red;
}

.emailVerificationContainer {
  height: 100vh;
  text-align: center;
}

.emailVerificationContainer>* {
  margin-bottom: 100px;
}

.innerEmailVerification {
  padding: 28px;
}

.innerEmailVerification>* {
  margin-bottom: 25px;
}

.emailIcon {
  width: 40%;
}

.ApLogo {
  width: 80%;
}

.googleBtn {
  background-color: #F5F6F9;
}

.dashboardSection {
  background: rgba(8, 62, 91, 0.2);
}

.verifiedContainer {
  min-height: 100vh;
  padding-top: 5%;
  font-weight: 600;
}

.verifiedContainer>p {
  margin-bottom: 20%;
  width: 70%;
}

@media only screen and (max-width: 767px) {
  .dashboardSection {
    display: none;
  }

  .homepage {
    position: relative;
  }

}


@media only screen and (min-width: 768px) and (max-width: 991px) {
  .dashboardSection {
    display: none;
  }

  .icon {
    display: none;
  }

  .logoImage {
    display: block;
    margin-top: 20px;
    padding-bottom: 50px;
  }

  .emailIcon {
    width: 30%;
  }

  .ApLogo {
    width: 40%;
  }

}

@media only screen and (min-width: 992px) {

  .icon {
    display: none;
  }

  .dashboardSection {
    position: relative;
    padding: 60px;
  }

  .dashboardImage {
    position: absolute;
    right: 0px;
    bottom: 0;
    width: 70%;
  }

  .logoImage {
    display: block;
    margin-top: 20px;
    padding-bottom: 50px;
  }

  .emailIcon {
    width: 10%;
  }

  .ApLogo {
    width: 25%;
  }

  .topSection {
    position: relative;
  }

  .topRightVector {
    top: 0;
    right: -2%;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  .email {
    width: 75%;
  }

  .dashboardContent {
    color: rgba(8, 62, 91, 0.5);
    font-weight: 600;
  }
}